body {
  font-family: sans-serif;
  font-size: 24px;
}

h1 {
  /* color: hotpink; */
  font-weight: 580;

}

h2 {
  font-weight: 500;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%
  z-index: 100;
}

.nav-item .nav-link {
  font-size: 16px;
}

.urgent {
  color: white;
  background-color: red;
  padding: 20px;
}

.login-margin {
  margin: 2%;
}

.register-margin {
  margin: 2%
}
body {
  background-color: #eceff3;
}

textarea {
  width: 100%; /* Full width */
  min-height: 50px; /* Minimum height */
  overflow: auto;
  resize: vertical;
}
.all-students {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.student-card {
  width: 18rem;
  margin-right: 2%;
  margin-bottom: 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, */
    /* rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, */
    /* rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.student-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 0;
  margin-top: 15px;
}
 
#logo-img {
  height: 80px;
  margin-right: 8px;
  border-radius: 15%;
}


/* .card-title-name { */
/* text-align: */
/* } */
/*  */
.pink-background {
  background-color: lightpink;
}

.something in navbar left {
  background-image: url("image/example.png");
}

/* BLOB */

/* @import url('https://fonts.googleapis.com/css?family=Exo+2'); */
/*  */
/* * { */
/* margin: 0px; */
/* padding: 0px; */
/* box-sizing: content-box; */
/* } */

/* html, body { */
/* width: 100vw; */
/* height: 100vh; */
/* background: #0d0722; */
/* } */
/*  */
/* body{ */
/* display: flex;  */
/* align-items: center; */
/* justify-content: center; */
/* overflow: hidden; */
/* color: #fff; */
/* font-family: 'Exo 2'; */
/* font-size: 24px; */
/* animation: fadeIn 500ms reverse; */
/* } */
/*  */
/* .gooey{ */
/* background-image: linear-gradient(120deg, #34e0f0 0%, #b400ff 100%); */
/* border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%; */
/* width: 150px; height: 144px; */
/* animation: morph 3s linear infinite;  */
/* transform-style: preserve-3d; */
/* outline: 1px solid transparent; */
/* will-change: border-radius; */
/* } */
/* .gooey:before, */
/* .gooey:after{ */
/* content: ''; */
/* width: 100%; */
/* height: 100%; */
/* display: block; */
/* position: absolute; */
/* left: 0; top: 0; */
/* border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%; */
/* box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21); */
/* will-change: border-radius, transform, opacity; */
/* animation-delay: 200ms; */
/* background-image: linear-gradient(120deg, rgba(0,67,255,.55) 0%, rgba(0,103,255,.89) 100%); */
/* } */

/* .gooey:before{ */
/* animation: morph 3s linear infinite; */
/* opacity: .21; */
/* animation-duration: 1.5s; */

/* BLOB  */

/* <!-- modal/lightbox sample --> */
/* <div class="modal" tabindex="-1"> */
/* <div class="modal-dialog"> */
/* <div class="modal-content"> */
/* <div class="modal-header"> */
/* <h5 class="modal-title">Modal title</h5> */
/* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> */
/* </div> */
/* <div class="modal-body"> */
/* <p>Modal body text goes here.</p> */
/* </div> */
/* <div class="modal-footer"> */
/* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> */
/* <button type="button" class="btn btn-primary">Save changes</button> */
/* </div> */
/* </div> */
/* </div> */
/* </div> */
