body {
  font-family: sans-serif;
  font-size: 24px;
}

h1 {
  color: hotpink;
}

.urgent {
  color: white;
  background-color: red;
  padding: 20px;
}

body {
  background-color: #eceff3;
}

textarea {
  width: 100%; /* Full width */
  min-height: 50px; /* Minimum height */
  overflow: auto;
  resize: vertical;
}
.all-students {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.student-card {
  width: 18rem;
  margin-right: 2%;
  margin-bottom: 20px;
  
}

.pink-background {
  background-color: lightpink;
}
/* <!-- modal/lightbox sample --> */
/* <div class="modal" tabindex="-1"> */
/* <div class="modal-dialog"> */
/* <div class="modal-content"> */
/* <div class="modal-header"> */
/* <h5 class="modal-title">Modal title</h5> */
/* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> */
/* </div> */
/* <div class="modal-body"> */
/* <p>Modal body text goes here.</p> */
/* </div> */
/* <div class="modal-footer"> */
/* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> */
/* <button type="button" class="btn btn-primary">Save changes</button> */
/* </div> */
/* </div> */
/* </div> */
/* </div> */
