<!-- place in head  -->
<!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script> -->
<!-- <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->
<!-- <scrip crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script> -->
<!-- place in head -->
<!--  -->

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Classroom Assistant: Efficient Classroom Management">
    <title> {% block title %} Classroom Assistant{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
 
    <link rel="stylesheet" href="../static/linked_styles.css" />

    {% block head %}{% endblock %}
  </head>

  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <!-- TEMP IMG TEST -->
        <img class="img"
        src="static/images.png.1">
        <!-- TEMP IMG TEST -->
        
        <a class="navbar-brand" href="a'/">Classroom Assistant</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button> -->
          <!-- <span class="navbar-toggler-icon"></span> -->
      <!-- </button> -->
<!--       -->
     
     
     
     
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
         <li class="nav-item">

          <!-- TEMP ROUTE TO HOMEPAGE, COMPLETE LOGOUT FUNCTION -->
          <a class="nav-link" href="/">Logout</a>
        </li>
      
        <!-- HAMBURGER dropdown -->
      <!-- <li> -->
        <!-- <div class="dropdown"> -->
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
            <!-- <span class="navbar-toggler-icon"></span> -->
          <!-- </button> -->
          <!-- <ul class="dropdown-menu"> -->
            <!-- <li><a class="dropdown-item" href"/">Home</a></li> -->
            <!-- <li<hr class="dropdown-divider"></li> -->
            <!-- <li><a class="dropdown-item" href="#action">Somethinghere</a</li> -->

            <!-- <li><a class="dropdown-item"href="#action">Somethinghere</a</li> -->
             <!-- <li><a class="dropdown-item"href="#action">Somethinghere</a</li> -->

          <!-- </ul> -->
        <!-- </div> -->
      <!-- </li> -->
        <!-- HAMBURGER DROPDOWN -->
        
        
        
        <li>  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
          <span class="navbar-toggler-icon"></span>
      </button>
      </li>


      </ul>
      </div>  
      </div>
    </nav>
    <div class="container mt-4"></div>
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
    {{ msg }}
  </div>
   
    {% endfor %} 
    {% block body %}{% endblock %}
</div>

<!-- REGISTRATION MODAL -->
<div class="modal" id="registerModal" tabindex="-1"> aria-labelledby="registerModalLabel" aria-hidden-"true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Create Your Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/users" method="POST">

        </form>
        <div class="mb-3">
          <label for="fname" class="form-label">First Name</label>
          <input type="text" class="form-control" id="fname" name="fname">
        </div>
        <div class="mb-3">
          <label for="fname" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lname" name="lname">
        </div>
        <div class "mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
        </div>
        
        <div class "mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"> Submit</button> 
      </div>
        <p></p>
      </div>
    </div>
  </div>
</div>

<!-- END REGISTRATION MODAL -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous" ></script>
  </body>
</html>
