{% extends 'base.html' %} {% block title %} Class - Classroom
Assistant{%endblock %} {% block body %}
<div class="container mt-4">
  <h1>{{classroom.classroom_name}}</h1>
  <h2></h2>
  <p>{{classroom.classroom_description}}</p>
  <!-- <p><a href="/add_students">+ Add Student</a></p> -->
  <div class="all-students">
    {% for student in classroom.students %}
    <div class="student-card card" style="width: 18rem; margin-right: 2%">
      <div class="card-body">
        <h5 class="card-title">{{ student.fname }}</h5>

        <!-- <a href="#" class="card-link" style="font-size: 14px">student info</a> -->

         <a href="#" class="status-link" aria-label="Status" style="font-size: 14px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 
            </svg>
        
        
        <!-- REPLACE 'STUDENT INFO' TEXT WITH BOOTSTRAP GRAPH ICON -->
        <!-- LECTURE EXAMPLE:  -->
        <!-- <img  -->
        <!-- class="card-img-top" -->
        <!-- src="bootstrap graph icon" -->
        <!-- alt="student information link" -->

        <!-- <a href="#" class="card-link" style="font-size: 14px">status</a> -->

        <a href="#" class="card-link" style="font-size: 14px">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-three-dots-vertical"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"
            />
          </svg>
        </a>

        <!-- REPLACE "STATUS" WITH BOOTSTRAP ARROW ICON OR CHANGE COLOR OF CARD -->
        <!-- <a href="#" class="card-link" style="font-size: 14px">status</a> -->
      </div>
    </div>
    {% endfor %}
  </div>
  <p><a href="/add_students">+ Add Student</a></p>
</div>
<script src="../static/ajax.js"></script>
{% endblock %}

<!-- consider addtl nav bar at bottom for user ease of use -->
<!--  -->
<!-- PRETTY LECTURE HOW TO INCLUDE IMAGES -->
<!--  -->
<!-- <img -->
<!-- class="card-img-top" -->
<!-- src="static/images/screenshots/full-height-columns.png" -->
<!-- alt="Screenshot.of.the.full-height-columns.demo"> -->

<!-- semantic H.T.M.L -->
<!-- <header></header> -->
<!-- <nav></nav> -->
<!-- <aside></aside> -->
<!-- <main> -->
<!-- <article> -->
<!-- <figure> -->
<!--        -->
<!-- </figure> -->
<!-- <p></p> -->
<!-- </article> -->
<!-- <section></section> -->
<!-- </main> -->
<!-- <footer></footer> -->
