body {
  font-family: sans-serif;
  font-size: 24px;
}

h1 {
  color: aqua;
}

.urgent {
  color: white;
  background-color: red;
  padding: 20px;
}

textarea {
  width: 100%; /* Full width */
  min-height: 50px; /* Minimum height */
  overflow: auto;
  resize: vertical;
}
